html, body {
  height: 100%;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #f5f5f5;
}
.main {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
img {
  width: 100%;
}
.img { background-color: #EBD0D3 ;

}

/*login form */

.main-login {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.img-login {
  background-color: #00D1B2;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
}

.button {background-color:#00B89C ; hover background-color: #00C4A7 ;

}
.title { size: 32px; padding: 36px ; 
}
.subtitle { size: 32px; padding: 40px;

}

